html,
body,
header,
.carousel {
  /*min-height: 100vh;*/
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}