{% extends "base.html" %}
{% load categories %}

{% block content %}

  <main style="flex-grow: 1">
    <div class="container">

      <nav
        class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
        <span class="navbar-brand">Категории:</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="basicExampleNav">

          <ul class="navbar-nav mr-auto">
            {% with request.resolver_match.view_name as view_name %}
              <li
                class="nav-item {% if view_name  == 'core:home' %}active{% endif %}">
                <a class="nav-link" href="/">Все категории</a>
              </li>
            {% endwith %}

            {% get_categories as categories %}
            {% for category in categories %}

              {% if category.slug == cat_selected_slug %}
                <li class="nav-item active">
                  <a class="nav-link active"
                     href="{% url 'core:category' category.slug %}">
                    {{ category.name }}
                  </a>
                  <span class="sr-only">(current)</span>
                </li>
              {% else %}

                <li class="nav-item">
                  <a class="nav-link"
                     href="{% url 'core:category' category.slug %}">
                    {{ category.name }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>

          {# Чтобы работала форма отправки метод должен быть get, потому что получаем данные #}
          <form class="form-inline" action="{% url 'core:search' %}"
                method="get">
            <div class="md-form my-0">
              {# Поле поиска называется q #}
              <input class="form-control mr-sm-2" type="text" name="q"
                     placeholder="Поиск..." aria-label="Search">
            </div>
          </form>

        </div>
      </nav>

      <section class="text-center mb-4">
        <div class="row wow fadeIn">
          {% for item in items %}
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <div class="view overlay bg-image hover-overlay ripple shadow-1-strong rounded">
                  <img src="{{ item.image.url }}" class="card-img-top"
                       alt="{{ item.title }}">
{#                  <img src="https://picsum.photos/200/30{{ forloop.counter }}" class="card-img-top"#}
                       alt="{{ item.title }}">
                  <a href="{{ item.get_absolute_url }}">
                    <div class="mask rgba-white-slight" style="background-color: hsla(0,4%,10%,0.2)"></div>
                  </a>
                </div>

                <div class="card-body text-center">
                  <a href="{{ item.category.get_absolute_url }}"
                     class="grey-text">
                    <h5>{{ item.category.name }}</h5>
                  </a>

                  <h5>
                    <strong>
                      <a href="{{ item.get_absolute_url }}"
                         class="dark-grey-text">{{ item.title }}
                        {% if item.discount_price %}
                        <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                        {% endif %}
                      </a>
                    </strong>
                  </h5>

                  <h4 class="font-weight-bold blue-text">
                    <strong>$
                      {% if item.discount_price %}
                        {{ item.discount_price }}
                      {% else %}
                        {{ item.price }}
                      {% endif %}
                    </strong>
                  </h4>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>

      <!--Pagination-->
      {% if is_paginated %}
        <nav class="d-flex justify-content-center wow fadeIn">
          <ul class="pagination pg-blue">

            <!--Arrow left-->
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.previous_page_number }}"
                   aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active">
                  <span class="page-link">{{ i }}</span>
                  <span class="sr-only">(current)</span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}">{{ i }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.next_page_number }}"
                   aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
      <!--Pagination-->

    </div>
  </main>

{% endblock content %}


